@media screen and (max-width: 1400px) {

  .div-poza-dev{
    display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  scale: 70%;
  
  }
.div-poza-price {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  
}
.poza-price{
  transition: 0.2s;
  scale: 80%;
}
.poza-price:hover{
  scale: 95%;
  
}
  html {
    scroll-behavior: smooth;
  }
.img-prz{
  width: 50vw;
  border-radius: 50%;
  transition: 0.2s;
}
.img-prz:hover{
  scale: 90%;
}
.divbuton{
  height: 130px;
  position: relative;
  border: 3px solid #195bc5;
  background-color: #195bc5;
}
.div-poza {
  background-color: #195bc5;
  width: 50vw;
  height: 50vh;
  padding-top: 20vh;
  margin-right: 5vw;
}

.button-1 {
  
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 70px;
  text-align: center;
  text-decoration: none;
  text-align: center;
  font-size: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid #0c51c0;
  border-radius: 7px;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  transition: 0.5s;
  
}
.button-1:hover{
  background-color:#2000d3;
  border-color: white;
  border-width: 4px;
  color: white;
 
}
.titlu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.novabit{
    font-family:'Trebuchet MS';
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(49, 49, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#ffffff;
    
  }
  
  li {
    display: flex;
    justify-content: right;
    float: right;
    font-family:'Trebuchet MS';
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 5px 18px;
    text-decoration: none;
  }

   li.different{
  border: none;
  position: relative;
}
li.different:hover{
  border: none;
}
li:hover {
  border-bottom: 5px solid #FFFFFF;
}
.different::after{
  content: '';
  position: absolute;
  width: 0px;
  height: 5px;
  left: 50%;
  bottom:0;
  background-color: white;
  transition: all ease-in-out .2s;
}
.different:hover::after{
  width: 100%;
  left: 0;
}

    
  
  
  li.different{
    border:none;
    position: relative;
  }
  li.different:hover{
    border: none;
  }
  li:hover {
    border-bottom: 5px solid #FFFFFF;
  }

  .different::after{
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    left: 50%;
    bottom:0;
    background: -webkit-linear-gradient(#eee, rgb(0, 89, 255));
    transition: all ease-in-out .2s;
  }
  .different:hover::after{
    width: 100%;
    left: 0;
  }


  .navigation {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 12vh;
    z-index: 2;
    
  }
  body { 
    margin: 0%; 
    background-color: #195bc5;

}

  .content{
    width: 100%;
    display: flex;
    
   
  }

  .amp{
    display: flex;
    justify-content: center;
   
  }

  .moto{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #EBF2FA;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 38px;
  }
 .second-moto{
  color: whiTE;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
 }

  .divmoto{
    margin-left: 5vw;
    margin-top: 30vh;
    width: 40%;
    background-color: #195bc5;

    
  }
  

 #hr{
  padding-top: 5vh;
  margin-left: 8vw;
  margin-right: 8vw;
  color: white;
 }
.why-novabit {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}


.divul-cel-mare{
  margin-top: 10vh;
  background-color: #195bc5;
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copil1{
  background-color: rgb(255, 255, 255);
  width: 20vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  margin-right: 15vw;
  border: 2px solid #0c51c0;
  transition: ease-in-out .2s;
}
.copil1:hover{
  background-color: #2000d3;
  border-color: white;
  border-width: 4px;
  color: white;
}

.copil2{
  background-color: #195bc5;
  color: white;
  width: 30vw;
  border-bottom-style: double;
  
}





  .footer{
    text-align: center;
    
  }
  
  .footer-meniu{
    display: flex;
    justify-content: center;
    align-items: center;
   
    
  }

.footer-meniu li a{
  background-color: #195bc5;
  color: white;
  
}
.footer-meniu ul{
  background-color: #195bc5;
  position: absolute;
  
}
 

.copyright{
  margin-top: 2vh;
  display: flex ;
  justify-content: center;
  color: white;
}
.social{
  display:flex ;
  justify-content: center;
  padding-bottom: 5vh;
}

.social a{
  margin-left: 1vw;
}
.social a:hover{
  background-color: #000000;
  border-radius: 20px;
}

}







  @media only screen and (max-width: 600px) {
    .div-poza-dev{
      display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    }

    .poza-price{
      width: 99vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 50px;
    }
    .divul-cel-mare{
      margin-top: 10vh;
      background-color: #195bc5;
      height: 20vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .copil1{
      background-color: rgb(255, 255, 255);
      width: 50vw;
      height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 14px;
      margin-right: 8vw;
      transition: ease-in-out .2s;
    }
    .copil1:hover{
      background-color: #195bc5;
      color: white;
    }
    
    .copil2{
      background-color: #195bc5;
      color: white;
      width: 35vw;
      border-bottom-style: double;
      
    }

    .img-prz{
      width: 95vw;
      border-radius: 50%;
      
    }
    .divbuton{
      height: 130px;
      position: relative;
    
    }
    .div-poza {
      background-color: #195bc5;
      width: 50vw;
      height: 50vh;
      padding-top: 0vh;
      margin-right: 5vw;
      
     
    }
    
    .button-1 {
      
      background-color: #EBF2FA;
      border: none;
      color: rgb(0, 0, 0);
      padding: 15px 20px;
      text-align: center;
      text-decoration: none;
      text-align: center;
      font-size: 22px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      border: 2px solid #0c51c0;
      border-radius: 7px;
      margin: 0;
      top: 30%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    
      transition: 0.5s;
      
    }
    .button-1:hover{
      background-color:#0004ff;
      border-bottom: #483bff;
      color: white;
     
    }
    .titlu{
        display: flex;
        justify-content: left;
        align-items: center;
       
    }
    .novabit{
        font-family:'Trebuchet MS';
        background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(49, 49, 255));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 50px;
        z-index: 2;
        
    }
    
    
    
    ul {
      
      list-style-type: none;
      margin-top: 0;
      overflow: hidden;
      background-color:#ffffff;
      
    }
    
    li {
      display: flex;
      justify-content: right;
      float: right;
      font-family:'Trebuchet MS';
    }
    
    li a {
      display: block;
      color: black;
      text-align: center;
      padding: 5px 8px;
      text-decoration: none;
    }
  
     li.different{
      visibility: hidden;
    border: none;
    position: relative;
  }
  li.different:hover{
    border: none;
  }
  li:hover {
    border-bottom: 5px solid #FFFFFF;
  }
  .different::after{
    content: '';
    position: absolute;
    width: 0px;
    height: 5px;
    left: 50%;
    bottom:0;
    background-color: white;
    transition: all ease-in-out .2s;
  }
  .different:hover::after{
    width: 100%;
    left: 0;
  }
  
      
    
    
    li.different{
      border:none;
      position: relative;
    }
    li.different:hover{
      border: none;
    }
    li:hover {
      border-bottom: 5px solid #FFFFFF;
    }
  
    .different::after{
      content: '';
      position: absolute;
      width: 0px;
      height: 2px;
      left: 50%;
      bottom:0;
      background: -webkit-linear-gradient(#eee, rgb(0, 89, 255));
      transition: all ease-in-out .2s;
    }
    .different:hover::after{
      width: 100%;
      left: 0;
    }
    
    
      .navigation {
        position: fixed;
        width: 100%;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        height: 14vh;
        z-index: 2;
      }
      body { 
        margin: 0%; 
        background-color: #195bc5;
    
    }
    
      .content{
        width: 100%;
        display:block;
      }
    
      .amp{
        display: flex;
        justify-content: center;
       
      }
    
      .moto{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #EBF2FA;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 25px;
      }
     .second-moto{
      color: whiTE;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
     }
    
      .divmoto{
        margin-left: 5vw;
        margin-top: 20vh;
        width: 90%;
        background-color: #195bc5;
    
        
      }
      
    
     #hr{
      margin-left: 8vw;
      margin-right: 8vw;
      color: white;
      padding-top: 0vh;
      
     }
    
    .why-novabit{
      display: flex;
      justify-content: center;
    }
    .why-novabit h1{
      color: white;
    }
    
    
      .footer{
        text-align: center;
      }
      
      .footer-meniu{
        display: flex;
        justify-content: center;
        align-items: center;
        
        
      }
    
    .footer-meniu li a{
      background-color: #195bc5;
      color: white;
      
    
    }
    .footer-meniu ul{
      background-color: #195bc5;
      position: absolute;
      margin-top: 10vh;
    }
     
    
    .copyright{
      padding-bottom: 1vh;
      padding-top: 4vh;
      display: flex ;
      justify-content: center;
      color: white;
    }
    .social{
      display:flex ;
      justify-content: center;
      padding-bottom: 4vh;
    }
    
    .social a{
      margin-left: 1.5vw;
      
      
    }
.social a:hover{
  background-color: #000000;
  border-radius: 20px;
}
  }




  